/* src/App.css */

body {
  font-family: 'Roboto', sans-serif; 
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  background-image: url('background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #000000;
}

.container {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #000000;
  margin-bottom: 20px;
}

a {
  display: block;
  margin-bottom: 10px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


/* src/App.css */

/* ... Previous CSS ... */

.back-link {
  color: #faf9f9; /* Red color for the back links */
  font-weight: bold;
  margin-right: 10px; /* Add a small margin between the links */
}

.back-link:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

.back-link:hover {
  color: #000000; /* Darker red color on hover */
  text-decoration: underline;
}

.back-ink:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

/* src/App.css */

/* ... Previous CSS ... */

.gif-container {
  text-align: center;
  margin-top: 20px;
  max-width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  border-radius: 50%;
  overflow: hidden; /* Hide any content that goes beyond the circular shape */
}

.gif-container img {
    width: 100%;
    height: auto;
    max-width: 800px;
}
  



